@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

/* Colour Palette */

$bgColor: #292631;
$purple: #7248f5;
$lightGrey: #b7b7b9;
$paleGrey: #f0f0f0;

/* Font */
$primaryFont: 'Kumbh Sans', sans-serif;