@import './variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $primaryFont;
}

body {
    height: 100vh;
    width: 100%;
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

button {
    border: none;
    background-color: $bgColor;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100%;
    margin-bottom: 50px;

    h1 {
        text-align: center;
        color: $paleGrey;
        letter-spacing: 0.1em;
    }
}

.calculator {
    display: flex;
    justify-content: center;
    width: 100%;

    .calculator__container {
        display: flex;
        padding: 20px;
        flex-direction: column;
        justify-content: space-between;
        height: 70vh;
        width: 400px;
        background-color: $bgColor;
        box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5);

        .calculator__output {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            height: 30%;
            color: $paleGrey;
            font-size: 2.5rem;
            font-weight: 700;
        }

        .calculator__grid {
            display: grid;
            height: 70%;
            grid-template-columns: repeat(4, auto);
            grid-template-areas: 
            "ac ac ac div"
            "seven eight nine times"
            "four five six sub"
            "one two three plus"
            "nought dec . equals";

            #ac {grid-area: ac}
            #div {grid-area: div}
            #seven {grid-area: seven}
            #eight {grid-area: eight}
            #nine {grid-area: nine}
            #times {grid-area: times}
            #four {grid-area: four}
            #five {grid-area: five}
            #six {grid-area: six}
            #one {grid-area: one}
            #two {grid-area: two}
            #three {grid-area: three}
            #plus {grid-area: plus}
            #zero {grid-area: nought}
            #dec {grid-area: dec}
            #equals {
                grid-area: equals;
                background-color: $purple;
            }

        }
    }
}